.product-list {
    width: 200px;
    float: left;
    padding: 25px 100px 20px 0px;
    color: white;
}

.product-list ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.product-list ul li {
    display: list-item inline-block;
    padding: 10px;
    cursor: pointer;
}

.product-list ul li.active {
    color: red;
}

.product-list ul li:hover {
    background-color: red;
    transform: scale(1.06);
    transition: 0.3s;
    color: white;
    border-radius: 3px;
}


.pagination {
    clear: both;
    text-align: center;
    margin-top: 20px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination ul li {
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination ul li.page-number-active {
    background-color: red;
    color: #fff;
}

.pagination ul li:hover,
.pagination ul li.page-number-active:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.08);
}

.feature-products1 {
    padding-top: 15px;
    padding-bottom: 20px;
}

.product-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item1 {
    width: 20%;
    background-color: #000000;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product-item1:hover {
    transition: 0.3s;
    transform: scale(1.06);
    opacity: 0.8;
}

.product-item1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: #000;
}

.product-item1 h3 {
    font-size: medium;
    color: red;
}

.product-item1 p {
    font-size: small;
    color: rgb(255, 255, 255);
}

.hide {
    display: none;
}