<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}zippys occult shop{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}"> 

    <!-- head section of the html pages -->
    {% block head %}
    {% endblock head %}

  </head>
  <body>


<!-- header content of the html pages -->
    {% block aboveheader %}
    <header>
      <div class="logo">
        <a href="{% url 'home' %}">
          <img src="{%  static 'images/Logo.webp' %}" />
        </a>
      </div>
    {% endblock aboveheader %}

      {% block activenav %}
      <nav>
        <ul>
          <li class="active"><a href=" {% url 'home' %} ">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'shop' %}">Shop</a></li>
          <li><a href="{% url 'blogs' %}">Blogs</a></li>
          <li><a href="{% url 'categories' %}">Categories</a></li>
        </ul>
      </nav>
      {% endblock activenav %}

    {% block belowheader %}

      <div class="icons">
        <div id="searchBar" class="search-bar">
          <input type="text" placeholder="Search" />
        </div>
        <div class="profile-icon">
          <button id="searchBtn">
            <img src="{% static 'images/search.png' %}" alt="Search" />
          </button>
        </div>

        <div class="profile-icon">
          <button id="shopBtn">
            <img src="{% static "images/shop.PNG" %}" alt="Shop">
          </button>
          <ul class="login-signup-list">
            <li><a href="#">Products</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
          </ul>
        </div>

        <div class="profile-icon">
          <div class="profile-btn">
            <button id="profileBtn">
              {% if user.is_authenticated %}
              <a>{{ user.username }}</a>
              {% else %}
              <a>Login/signUp</a>
              {% endif %}
            </button>
          </div>
          <ul class="login-signup-list">
            {% if user.is_authenticated %}
            <li><a href=" {% url 'dashboard' %}">My Account</a></li>
            <li id="logout_link">
              <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li><a href="{% url 'loginlocal' %}">Login</a></li>
            <li><a href="{% url 'signuplocal' %}">Sign Up</a></li>
            {% endif %}
            <div class="horizontal-line"></div>
            <li><a href="{% url 'book' %}">Bookings</a></li>
            <li><a href="{% url 'order' %}">Orders</a></li>
          </ul>
        </div>
      </div>
    </header>
    {% endblock belowheader %}


<!-- main content of the html pages -->
    {% block maincontent %}
    {% endblock maincontent %}


<!-- footer content of the html pages -->
{% block footercontent %}
    <footer>
      <!-- Social Media Icons -->
      <div class="social-media">
        <a href="#"
          ><img src=" {% static "images/facebook.png" %}" alt="Facebook"></a
        >
        <a href="#"
          ><img src=" {% static "images/twitter.png" %}" alt="Twitter"></a
        >
        <a href="#"
          ><img src=" {% static "images/instagram.png"%}" alt="Instagram"></a
        >
        <a href="#"
          ><img src= "{% static "images/linkedin.png" %}" alt="LinkedIn"></a
        >
        <a href="#"
          ><img src= "{% static "images/youtube.png" %} " alt="YouTube"></a
        >
        <a href="#"
          ><img src= "{% static "images/pinterest.png"%} " alt="Pinterest"></a
        >
      </div>

      <!-- Subscription Section -->
      <div class="subscribe">
        <h4>SUBSCRIBE</h4>
        <p>
          Get 10% off your first purchase when you sign up for our newsletter!
        </p>
        <div class="email-container">
          <input type="email" placeholder="Enter your email" />
          <button class="signup-button">Sign Up</button>
        </div>
      </div>

      <!-- Picture Gallery -->
      <div class="gallery">
        <img src="{% static "images/matches.webp" %}" alt="Gallery Image 1">
        <img src= "{% static "images/candles.webp" %}"alt="Gallery Image 2">
        <img src= "{% static "images/agrbtti.webp" %}"alt="Gallery Image 3">
        <img src= "{% static "images/table.webp" %}"alt="Gallery Image 3">
      </div>

      <!-- Copyright Notice -->
      <p style="color: #ccc; font-size: small">
        Copyright &copy; 2019 - All Rights Reserved
      </p>

      <!-- Privacy Policy and Terms and Conditions -->
      <div class="footer-links">
        <a href="{% url 'privacy' %}">Privacy Policy</a>
        <a href="{% url 'terms' %}">Terms and Conditions</a>
      </div>
    </footer>
{% endblock footercontent %}


<!-- javascriipts code of the html pages -->
{% block scriptcontent %}
<script src="script.js"></script>
{% endblock scriptcontent %}

  </body>
</html>
