<!DOCTYPE html>
<html>

<head>
    <title>11 Steps Of Find Happiness From The Spiritual Candle Fire Ritual</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="Home.html">
                <img src="Logo.webp">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Aboutus.html">About</a></li>
                <li><a href="Contactus.html">Contact</a></li>
                <li><a href="Shop.html">Shop</a></li>
                <li class="active"><a href="Blogs.html">Blogs</a></li>
                <li><a href="Home.html#Categories">Categories</a></li>
            </ul>
        </nav>
        <div class="icons">
            <div class="profile-icon">
                <button id="searchBtn">
                    <img src="search.png" alt="Search">
                </button>
                <div id="searchBar" class="search-bar">
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile-icon">
                <button id="shopBtn">
                    <img src="shop.PNG" alt="Shop">
                </button>
                <ul class="login-signup-list">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>

            <div class="profile-icon">
                <div class="profile-btn">
                    <button id="profileBtn">
                        <a>Login/SignUp</a>
                    </button>
                </div>
                <ul class="login-signup-list">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <div class="horizontal-line"></div>
                    <li><a href="#">Bookings</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">My Account</a></li>
                </ul>
            </div>
        </div>

    </header>

    <main>
        <div class="about-container">
            <h1>BLOGS</h1>
            <div class="horizontal-line"></div>
            <h2 style="color: red;">FEATURE POSTS</h2>
            <div class="feature-blog">
                <img src="relax.webp" alt="Blog">
                <div class="dscrpt">
                    <h1>EFFECTIVE WAYS TO RELAX</h1>
                    <p>With so many personal and professional commitments in our life, we often forget to take care of
                        ourselves.Wondering how you can replenish your mind, body, and soul?Here are 3 effective ways to
                        relax and
                        breathe life into a new you: 1. Spiritual Candles <a href="Home.html">(Nft products)</a> What
                        else would be
                        our source of light and peace in … </p>
                    <a href="Blog1.html#Blogs"><button class="blogBtn">Read More</button></a>
                </div>
            </div>

        </div>
    </main>

    <div class="heading" id="Blogs">
        <h1>MY BLOGS</h1>
    </div>

    <div class="read-more">
        <div class="block">
            <a href="Blogs.html#Blogs">
                < All Posts </a>
                    <h2>3 Effective Ways To Relax with Occult products</h2>
                    <p style="color: #888;">August 26, 2022 | Relaxation</p>
                    <img src="candles2.webp" alt="candles">
                    <h1>Overview</h1>
                    <p>With so many personal and professional commitments in our life, we often forget to take care of
                        ourselves.<br>Wondering how you can replenish your mind, body, and soul with Occult Products ?
                        Here are 3 effective ways to relax and breathe life into a new you:</p>
                    <h1>1. Spiritual Candles:</h1>
                    <p>What else would be our source of light and peace in our darkest moments if not
                        candles?<br><br>Spiritual candles make each candle-light dinner and bath session an oasis of
                        serenity and offer a profound relaxation experience<br>Numerous spiritual candles, such as Gran
                        Gran Helping Hand Candle, even offer clarity and focus that improves one's mood, work-life
                        balance, and opens the pathway towards spiritual healing.</p>
                    <img src="flower.webp" alt="blog">
                    <h1>2. Incense Oils:</h1>
                    <p>Sometimes, we don't have the time nor a spot where we create a well of relaxation that we can dip
                        into every time we wish to relax<br>Here's an interesting choice: keep incense oils in your
                        home!<br><br>Whether you wish to apply an incense oil and smell fragrant or add some oil to your
                        bathwater; it will never disappoint in providing a salon-like relaxation session.</p>
                    <h1>3. Fragrant Soaps:</h1>
                    <p>What could be a better way to relax than to lather your skin with nourishment and soothe your
                        entire body?<br>Good quality soaps do just that!</p>
                    <img src="cream.webp" alt="blogs">
                    <p>They clean your skin, moisturize from within, and rejuvenate you to take on any challenge that
                        comes your way.<br>Additionally, soaps, such as Love Hummingbird Soap, smell amazing - quite
                        literally.
                        Their fragrant whiffs keep you fresh and relaxed. Isn't that just what you want?
                        Parting Thoughts</p>
                    <img src="food.webp" alt="blogs">
                    <p>A relaxed mind and body are essential to lead a healthy life.
                        <br>Include these simple yet, magical products in your routine and make every day rejuvenating!
                        <br>So, what are you waiting for?
                        <br>Recharge with candles, oils, and nourishing soaps from Zippy's Occult Shop today!
                    </p>
        </div>
        <div class="filter-blogs1">
            <h1>Categories</h1>
            <ul>
                <li>All Posts</li>
                <li>Candle Ritual</li>
                <li>Relaxation</li>
            </ul>

            <h1>Recent Posts</h1>
            <a class="recent" href="Blog2.html#Blogs">
                <img src="candle1.webp" alt="blogs">
                <div class="recent-data">
                    <h1>3 Effective Ways To Relax with Occult products</h1>
                    <p>Aug 26, 2022</p>
                </div>
            </a>
        </div>
    </div>

    <div class="heading">
        <h1>GET CONNECTED</h1>
    </div>

    <footer>
        <!-- Social Media Icons -->
        <div class="social-media">
            <a href="#"><img src="facebook.png" alt="Facebook"></a>
            <a href="#"><img src="twitter.png" alt="Twitter"></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
            <a href="#"><img src="linkedin.png" alt="LinkedIn"></a>
            <a href="#"><img src="youtube.png" alt="YouTube"></a>
            <a href="#"><img src="pinterest.png" alt="Pinterest"></a>
        </div>

        <!-- Subscription Section -->
        <div class="subscribe">
            <h4>SUBSCRIBE</h4>
            <p>Get 10% off your first purchase when you sign up for our newsletter!</p>
            <div class="email-container">
                <input type="email" placeholder="Enter your email">
                <button class="signup-button">Sign Up</button>
            </div>
        </div>

        <!-- Picture Gallery -->
        <div class="gallery">
            <img src="matches.webp" alt="Gallery Image 1">
            <img src="candles.webp" alt="Gallery Image 2">
            <img src="agrbtti.webp" alt="Gallery Image 3">
            <img src="table.webp" alt="Gallery Image 3">
        </div>



        <!-- Copyright Notice -->
        <p style="color: #ccc; font-size: small;">Copyright &copy; 2019 - All Rights Reserved</p>

        <!-- Privacy Policy and Terms and Conditions -->
        <div class="footer-links">
            <a href="privacy.html">Privacy Policy</a>
            <a href="terms.html">Terms and Conditions</a>
        </div>
    </footer>

    <script src="script.js"></script>
</body>

</html>