
{% extends 'base.html' %}
{% load static %}

{% block head %}
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
  </style>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    rel="stylesheet"
  />
{% endblock head %}

{% block activenav %}
  <nav>
    <ul>
      <li class="active"><a href=" {% url 'home' %} ">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'shop' %}">Shop</a></li>
      <li><a href="{% url 'blogs' %}">Blogs</a></li>
      <li><a href="{% url 'categories' %}">Categories</a></li>
    </ul>
  </nav>
{% endblock activenav %}


{% block maincontent %}
    <div class="slideshow-container">
      <div class="slideshow">
        <img src="{% static 'images/occult.PNG' %}" alt="Image 1" />
        <img src="{% static 'images/cards.PNG' %}" alt="Image 2" />
        <img src="{% static 'images/occult.PNG' %}" alt="Image 3" />
        <img src="{% static 'images/cards.PNG' %}" alt="Image 4" />
        <!-- Add more <img> elements for additional images -->
      </div>
      <div class="starting">
        <h1>ZIPPY'S OCCULT SHOP</h1>
        <p>
          Spiritual Candles, Incense, Oils and much more<br />Spend $75.00 and
          up to receive $10.00 off (exp:9/03/2023) code: SUMMER2023
        </p>
        <button>
          <a href="{% url 'shop' %}">Shop Now</a>
        </button>
      </div>
    </div>

    <div class="after-start">
      <h1>ZIPPY'S SPIRITUAL READINGS</h1>
      <p>$35 (15-20 min.) $50 (25-35 min) $70 ( up to an hour)</p>
      <button>
        <a href="{% url 'contact' %}">Contact Now</a>
      </button>
    </div>

    <div class="heading">
      <h1>Feature Products</h1>
    </div>

    <div class="feature-products">
      <div class="filter-buttons">
        <button class="active" onclick="filterSelection('all')">
          All Services
        </button>
        <button onclick="filterSelection('spiritual')">
          Spiritual Readings
        </button>
      </div>

      <div class="product-container">
        <a class="product-item all spiritual" href="product1.html">
          <img src="{% static "images/Logo.webp"%}" alt="product1">
          <h3>Zippy's Spiritual Reading (One Topic)</h3>
          <p>20 mins only in $35</p>
        </a>
        <div class="product-item all spiritual">
          <img src="{% static "images/Logo.webp"%}" alt="product2">
          <h3>Zippy's Spiritual Reading (Two Topics)</h3>
          <p>40 mins only in $50</p>
        </div>
        <div class="product-item all spiritual">
          <img src="{% static "images/Logo.webp"%}" alt="product3">
          <h3>Zippy's Spiritual Reading (Three Topics)</h3>
          <p>1 hour only in $70</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10005.jpg"%}" alt="product4">
          <h3>Product 4</h3>
          <p>Description of Product 4</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10003.jpg"%}" alt="product5">
          <h3>Product 5</h3>
          <p>Description of Product 5</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10006.jpg"%}" alt="product6">
          <h3>Product 6</h3>
          <p>Description of Product 6</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10007.jpg"%}" alt="product7">
          <h3>Product 7</h3>
          <p>Description of Product 7</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10008.jpg"%}" alt="product8">
          <h3>Product 8</h3>
          <p>Description of Product 8</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10009.jpg"%}" alt="product9">
          <h3>Product 9</h3>
          <p>Description of Product 9</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10003.jpg"%}" alt="product10">
          <h3>Product 10</h3>
          <p>Description of Product 10</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10006.jpg"%}" alt="product11">
          <h3>Product 11</h3>
          <p>Description of Product 11</p>
        </div>
        <div class="product-item all">
          <img src="{% static "images/10007.jpg"%}" alt="product12">
          <h3>Product 12</h3>
          <p>Description of Product 12</p>
        </div>
        <!-- Add more product items as needed -->
      </div>
    </div>

    <div class="heading" id="Categories">
      <h1>Popular Categories</h1>
    </div>

    <div class="desc">
      <h2>HOT SELLERS</h2>
      <p>
        Just randon words. fqn iefhaio aseifhua wihe kwjafgawu kqjshi akwdjgbq
        aqjs<br />wkudguiadb aqqqdhiuawdma d akjdh akjwda zjsdhiau majdgba qJHGu
        awvjdyg amwhdga mjsdgay
      </p>
    </div>

    <div class="category-container">
      <div class="category-item">
        <a href="{% url 'categories' %}">
          <img src="{% static "images/powders.webp"%} "alt="Category 1">
          <p>Powders</p>
        </a>
      </div>
      <div class="category-item">
        <a href="{% url 'categories' %}">
          <img src="{% static "images/wash.webp"%}" alt="Category 2">
          <p>Floor & Bath Wash</p>
        </a>
      </div>
      <div class="category-item">
        <a href="{% url 'categories' %}">
          <img src="{% static "images/kit.webp"%}" alt="Category 3">
          <p>ZIPPY'S SPECIAL KIT</p>
        </a>
      </div>
      <!-- Add more category items as needed -->
    </div>

    <div class="chat-icon-container">
      <div class="chat-icon" onclick="toggleChatBox()">
        <img src="{% static "images/chat.png"%}" alt="Chat Icon" width="30"
        height="30">
      </div>
    </div>

    <div class="chat-box" id="chatBox">
      <div class="chat-box-header">
        <img src="{% static "images/Logo.webp"%}" alt="Profile Image"
        class="profile-image">
        <div class="header-text">Contact Us</div>
        <div class="sub-header-text">We will respond soon!</div>
      </div>
      <div class="chat-box-content">
        <!-- Chat messages can be displayed here -->
      </div>
      <div class="chat-input-container">
        <input
          type="text"
          class="chat-input"
          placeholder="Type your message..."
        />
      </div>
    </div>

    <div class="heading">
      <h1>Social</h1>
    </div>

{% endblock maincontent %}

{% block scriptcontent %}
    <script>
      function toggleChatBox() {
        var chatBox = document.getElementById("chatBox");
        chatBox.style.display =
          chatBox.style.display === "block" ? "none" : "block";
      }
    </script>

    <script>
      const searchBtn = document.getElementById("searchBtn");
      const searchBar = document.getElementById("searchBar");
      const shopBtn = document.getElementById("shopBtn");
      const shopList = document.querySelector(
        ".profile-icon:nth-child(2) .login-signup-list"
      );
      const profileBtn = document.getElementById("profileBtn");
      const profileList = document.querySelector(
        ".profile-icon:nth-child(3) .login-signup-list"
      );

      searchBtn.addEventListener("click", function () {
        if (
          searchBar.style.display === "none" ||
          searchBar.style.display === ""
        ) {
          searchBar.style.display = "block";
        } else {
          searchBar.style.display = "none";
        }
      });

      shopBtn.addEventListener("click", function () {
        if (
          shopList.style.display === "none" ||
          shopList.style.display === ""
        ) {
          shopList.style.display = "block";
        } else {
          shopList.style.display = "none";
        }
      });

      profileBtn.addEventListener("click", function () {
        if (
          profileList.style.display === "none" ||
          profileList.style.display === ""
        ) {
          profileList.style.display = "block";
        } else {
          profileList.style.display = "none";
        }
      });
    </script>

    <script>
      let slideIndex = 0;
      showSlides();

      function showSlides() {
        const slideshow = document.querySelector(".slideshow");
        const slides = slideshow.getElementsByTagName("img");

        slideIndex++;
        if (slideIndex >= slides.length) {
          slideIndex = 0;
        }

        slideshow.style.transform = `translateX(-${slideIndex * 100}%)`;

        setTimeout(showSlides, 9000); // Change slide every 9 seconds
      }
    </script>

    <script>
      //filtering feature products
      function filterSelection(c) {
        var products = document.getElementsByClassName("product-item");
        var buttons = document
          .getElementsByClassName("filter-buttons")[0]
          .getElementsByTagName("button");

        for (var i = 0; i < products.length; i++) {
          if (c === "all" || products[i].className.indexOf(c) > -1) {
            products[i].style.display = "block";
          } else {
            products[i].style.display = "none";
          }
        }

        for (var j = 0; j < buttons.length; j++) {
          buttons[j].classList.remove("active");
        }

        event.target.classList.add("active");
      }

      filterSelection("all");
    </script>

    <script>
      document.addEventListener("scroll", function () {
        const header = document.querySelector("header");
        const scrollPercentage = (
          window.scrollY /
          (document.documentElement.scrollHeight - window.innerHeight)
        ).toFixed(2);
        const opacity = 0.8 + 0.2 * scrollPercentage; // Linear interpolation between 0.8 and 1

        header.style.background = `linear-gradient(to right, rgba(0, 0, 0, ${opacity}), rgba(34, 0, 0, ${opacity}), rgba(227, 0, 0, ${opacity}), rgba(255, 0, 0, ${opacity}))`;
      });
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@graph": [
          {
            "@type": "Product",
            "name": "Zippy's Spiritual Reading (One Topic)",
            "image": ["10001.png"],
            "description": "20 mins only in $35. Get a spiritual reading with one topic of your choice.",
            "offers": {
              "@type": "Offer",
              "price": "35.00",
              "priceCurrency": "USD",
              "availability": "http://schema.org/InStock"
            }
          },
          {
            "@type": "Product",
            "name": "Zippy's Spiritual Reading (Two Topics)",
            "image": ["10001.png"],
            "description": "40 mins only in $50. Get a spiritual reading with two topics of your choice.",
            "offers": {
              "@type": "Offer",
              "price": "50.00",
              "priceCurrency": "USD",
              "availability": "http://schema.org/InStock"
            }
          },
          {
            "@type": "Product",
            "name": "Zippy's Spiritual Reading (Three Topics)",
            "image": ["10001.png"],
            "description": "1 hour only in $70. Get a spiritual reading with three topics of your choice.",
            "offers": {
              "@type": "Offer",
              "price": "70.00",
              "priceCurrency": "USD",
              "availability": "http://schema.org/InStock"
            }
          }
        ]
      }
    </script>

    {% comment %}
    <script>
      const user = document.querySelector("#usr");
      const signup = document.querySelector("#signup_link");
      const logout = document.querySelector("#logout_link");

      if (user.innerHTML === "none") {
        user.style.display = " none";
        logout.style.display = "none";
      } else {
        user.style.display = "block";
        logout.style.display = "block";
        signup.style.display = "none";
      }
      document.querySelector("#logout_link").innerhtml = "logout";
    </script>
    {% endcomment %}
{% endblock scriptcontent %}